<div class="row">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">MEAN</a>
		<div class="navbar-header_nav-btn">
			<ul>
				<li>
					<a href="#"><i class="material-icons">notifications_none</i></a>
				</li>
				<li>
					<a href="#"><i class="material-icons">whatshot</i></a>
				</li>
				<li>
					<a href=""><i class="material-icons">exit_to_app</i> </a>
				</li>
			</ul>

		</div>
	</div>
</div>
<div class="row row-content">
	<div class="sidebar">
		<ul class="nav navbar-nav">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="nerds">Nerds</a></li>
			<li><a ui-sref="geeks">Geeks</a></li>
		</ul>

	</div>

	<div class="content">
		<div class="card card-full">
			<h1>Geek page</h1>
			<p>{{geekCtrl.tagline }}</p>
		</div>
	</div>

</div>
</div>