<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-5">
			<div class="jumbotron">
				<form action="" class="login-form">
					<div class="form-group">
						<label for="email">E-mail:</label>
						<input type="email" id="email" class="form-control" placeholder="E-mail">
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" id="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default">Log in</button>
						<a href="/reg" class="btn btn-info">Sign in</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> 
